*{

   margin: 0;
   padding: 0;

}
.container-10{

   background-image: url('/Rectangle\ 41\ \(5\).png');   
   max-width: 1515px;
   height: 440px;

}
.Arts{

   font-family: 'montserrat',sans-serif;
   font-size: 50px;
   color: #ffffff;
   padding-top: 170px;
   margin-left: 0px;
   transform: translateX(295px);

}
.container-1{

   width: 960px;
   height: 1500px;
   margin: 0 auto;
   margin-top: 80px;
   
}
.row-1{

   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: center;
   gap: 50px;

}
.Group{

   width: 280px;
   height: 465px;

}
.row-3{

   display: flex;
   margin-top: 30px;
   margin-left: 660px;
   gap: 10px;
   color: #ffffff;

}